In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'numpy'

In [ ]:
df_1 = pd.read_csv('diabetic_data.csv')

In [ ]:
df_1.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [ ]:
df_1.drop('payer_code' , axis=1 , inplace=True)

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  medical_specialty         101766 non-null  object
 11  num_lab_procedures        101766 non-null  int64
 12  num_procedures            101766 non-null  int64
 13  num_medications           101766 non-null  int64
 14  number_outpatient         101766 non-null  int64
 15  number_emergency          101766 non-null  int64
 16  number_inpatient          101766 non-null  int64
 17  diag_1                    101766 non-null  object
 18  diag_2                    101766 non-null  object
 19  diag_3                    101766 non-null  object
 20  number_diagnoses          101766 non-null  int64
 21  max_glu_serum             5346 non-null    object
 22  A1Cresult                 17018 non-null   object
 23  metformin                 101766 non-null  object
 24  repaglinide               101766 non-null  object
 25  nateglinide               101766 non-null  object
 26  chlorpropamide            101766 non-null  object
 27  glimepiride               101766 non-null  object
 28  acetohexamide             101766 non-null  object
 29  glipizide                 101766 non-null  object
 30  glyburide                 101766 non-null  object
 31  tolbutamide               101766 non-null  object
 32  pioglitazone              101766 non-null  object
 33  rosiglitazone             101766 non-null  object
 34  acarbose                  101766 non-null  object
 35  miglitol                  101766 non-null  object
 36  troglitazone              101766 non-null  object
 37  tolazamide                101766 non-null  object
 38  examide                   101766 non-null  object
 39  citoglipton               101766 non-null  object
 40  insulin                   101766 non-null  object
 41  glyburide-metformin       101766 non-null  object
 42  glipizide-metformin       101766 non-null  object
 43  glimepiride-pioglitazone  101766 non-null  object
 44  metformin-rosiglitazone   101766 non-null  object
 45  metformin-pioglitazone    101766 non-null  object
 46  change                    101766 non-null  object
 47  diabetesMed               101766 non-null  object
 48  readmitted                101766 non-null  object
dtypes: int64(13), object(36)
memory usage: 38.0+ MB

In [ ]:
df_1.drop( 'discharge_disposition_id' , axis=1 , inplace=True)

In [ ]:
df_1.drop( 'admission_source_id' , axis=1 , inplace=True)

In [ ]:
df_1.drop( 'encounter_id' , axis=1 , inplace=True)

In [ ]:
df_1.drop( 'patient_nbr' , axis=1 , inplace=True)

In [ ]:
df_1.drop( 'admission_type_id' , axis=1 , inplace=True)

In [ ]:
df_1

,race,gender,age,weight,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),?,1,Pediatrics-Endocrinology,41,0,1,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),?,3,?,59,0,18,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),?,2,?,11,5,13,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),?,2,?,44,1,16,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),?,1,?,51,0,8,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),?,3,?,51,0,16,0,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,AfricanAmerican,Female,[80-90),?,5,?,33,3,18,0,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,Caucasian,Male,[70-80),?,1,?,53,0,9,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,Caucasian,Female,[80-90),?,10,Surgery-General,45,2,21,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,Caucasian,Male,[70-80),?,6,?,13,3,3,0,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
df_1['race'].unique()

array(['Caucasian', 'AfricanAmerican', '?', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [ ]:
df_1['race'].mode()

0    Caucasian
Name: race, dtype: object

In [ ]:
df_1['race'].replace(['?'], 'Caucasian', inplace=True)

In [ ]:
df_1['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [ ]:
df_1.drop('medical_specialty' , axis=1 , inplace=True)

In [ ]:
df_1.drop('num_procedures' , axis=1 , inplace=True)

In [ ]:
df_1

,race,gender,age,weight,time_in_hospital,num_lab_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),?,1,41,1,0,0,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),?,3,59,18,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),?,2,11,13,2,0,1,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),?,2,44,16,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),?,1,51,8,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),?,3,51,16,0,0,0,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,AfricanAmerican,Female,[80-90),?,5,33,18,0,0,1,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,Caucasian,Male,[70-80),?,1,53,9,1,0,0,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,Caucasian,Female,[80-90),?,10,45,21,0,0,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,Caucasian,Male,[70-80),?,6,13,3,0,0,0,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
df_1.drop('number_outpatient' , axis=1 , inplace=True)

In [ ]:
df_1.drop('number_inpatient' , axis=1 , inplace=True)

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 40 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      101766 non-null  object
 1   gender                    101766 non-null  object
 2   age                       101766 non-null  object
 3   weight                    101766 non-null  object
 4   time_in_hospital          101766 non-null  int64
 5   num_lab_procedures        101766 non-null  int64
 6   num_medications           101766 non-null  int64
 7   number_emergency          101766 non-null  int64
 8   diag_1                    101766 non-null  object
 9   diag_2                    101766 non-null  object
 10  diag_3                    101766 non-null  object
 11  number_diagnoses          101766 non-null  int64
 12  max_glu_serum             5346 non-null    object
 13  A1Cresult                 17018 non-null   object
 14  metformin                 101766 non-null  object
 15  repaglinide               101766 non-null  object
 16  nateglinide               101766 non-null  object
 17  chlorpropamide            101766 non-null  object
 18  glimepiride               101766 non-null  object
 19  acetohexamide             101766 non-null  object
 20  glipizide                 101766 non-null  object
 21  glyburide                 101766 non-null  object
 22  tolbutamide               101766 non-null  object
 23  pioglitazone              101766 non-null  object
 24  rosiglitazone             101766 non-null  object
 25  acarbose                  101766 non-null  object
 26  miglitol                  101766 non-null  object
 27  troglitazone              101766 non-null  object
 28  tolazamide                101766 non-null  object
 29  examide                   101766 non-null  object
 30  citoglipton               101766 non-null  object
 31  insulin                   101766 non-null  object
 32  glyburide-metformin       101766 non-null  object
 33  glipizide-metformin       101766 non-null  object
 34  glimepiride-pioglitazone  101766 non-null  object
 35  metformin-rosiglitazone   101766 non-null  object
 36  metformin-pioglitazone    101766 non-null  object
 37  change                    101766 non-null  object
 38  diabetesMed               101766 non-null  object
 39  readmitted                101766 non-null  object
dtypes: int64(5), object(35)
memory usage: 31.1+ MB

In [ ]:
df_1

,race,gender,age,weight,time_in_hospital,num_lab_procedures,num_medications,number_emergency,diag_1,diag_2,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),?,1,41,1,0,250.83,?,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),?,3,59,18,0,276,250.01,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),?,2,11,13,0,648,250,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),?,2,44,16,0,8,250.43,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),?,1,51,8,0,197,157,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),?,3,51,16,0,250.13,291,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,AfricanAmerican,Female,[80-90),?,5,33,18,0,560,276,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,Caucasian,Male,[70-80),?,1,53,9,0,38,590,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,Caucasian,Female,[80-90),?,10,45,21,0,996,285,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,Caucasian,Male,[70-80),?,6,13,3,0,530,530,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
df_1['gender'] = df_1['gender'].map({'Male' : 0 , 'Female' : 1})

In [ ]:
df_1

,race,gender,age,weight,time_in_hospital,num_lab_procedures,num_medications,number_emergency,diag_1,diag_2,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,1.0,[0-10),?,1,41,1,0,250.83,?,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,1.0,[10-20),?,3,59,18,0,276,250.01,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,1.0,[20-30),?,2,11,13,0,648,250,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,0.0,[30-40),?,2,44,16,0,8,250.43,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,0.0,[40-50),?,1,51,8,0,197,157,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,0.0,[70-80),?,3,51,16,0,250.13,291,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,AfricanAmerican,1.0,[80-90),?,5,33,18,0,560,276,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,Caucasian,0.0,[70-80),?,1,53,9,0,38,590,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,Caucasian,1.0,[80-90),?,10,45,21,0,996,285,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,Caucasian,0.0,[70-80),?,6,13,3,0,530,530,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
df_1['mean_age'] = df_1['age'].apply(lambda x: (int(x.split('[')[1].split('-')[0]) + int(x.split('-')[1][:-1])) / 2)

df_1.drop('age', axis=1, inplace=True)

In [ ]:
df_1['mean_age']

0          5.0
1         15.0
2         25.0
3         35.0
4         45.0
          ...
101761    75.0
101762    85.0
101763    75.0
101764    85.0
101765    75.0
Name: mean_age, Length: 101766, dtype: float64

In [ ]:
df_1

,race,gender,weight,time_in_hospital,num_lab_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,mean_age
0,Caucasian,1.0,?,1,41,1,0,250.83,?,?,...,No,No,No,No,No,No,No,No,NO,5.0
1,Caucasian,1.0,?,3,59,18,0,276,250.01,255,...,Up,No,No,No,No,No,Ch,Yes,>30,15.0
2,AfricanAmerican,1.0,?,2,11,13,0,648,250,V27,...,No,No,No,No,No,No,No,Yes,NO,25.0
3,Caucasian,0.0,?,2,44,16,0,8,250.43,403,...,Up,No,No,No,No,No,Ch,Yes,NO,35.0
4,Caucasian,0.0,?,1,51,8,0,197,157,250,...,Steady,No,No,No,No,No,Ch,Yes,NO,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,0.0,?,3,51,16,0,250.13,291,458,...,Down,No,No,No,No,No,Ch,Yes,>30,75.0
101762,AfricanAmerican,1.0,?,5,33,18,0,560,276,787,...,Steady,No,No,No,No,No,No,Yes,NO,85.0
101763,Caucasian,0.0,?,1,53,9,0,38,590,296,...,Down,No,No,No,No,No,Ch,Yes,NO,75.0
101764,Caucasian,1.0,?,10,45,21,0,996,285,998,...,Up,No,No,No,No,No,Ch,Yes,NO,85.0
101765,Caucasian,0.0,?,6,13,3,0,530,530,787,...,No,No,No,No,No,No,No,No,NO,75.0

In [ ]:
df_1['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Assuming 'race' is the column you want to one-hot encode in your DataFrame 'df'
column_to_encode = 'race'

# Extract the column to be encoded
column_data = df_1[[column_to_encode]]

# Create the OneHotEncoder instance
encoder = OneHotEncoder()

# Fit and transform the data
encoded_features = encoder.fit_transform(column_data)

# Convert the sparse matrix to a DataFrame with column names
encoded_df = pd.DataFrame(encoded_features.toarray(), columns=encoder.get_feature_names_out([column_to_encode]))

# Concatenate the original DataFrame 'df' and the one-hot encoded DataFrame 'encoded_df'
df = pd.concat([df_1, encoded_df], axis=1)

# Drop the original column that was one-hot encoded
df.drop(column_to_encode, axis=1, inplace=True)

In [ ]:
df

,gender,weight,time_in_hospital,num_lab_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,number_diagnoses,...,metformin-pioglitazone,change,diabetesMed,readmitted,mean_age,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
0,1.0,?,1,41,1,0,250.83,?,?,1,...,No,No,No,NO,5.0,0.0,0.0,1.0,0.0,0.0
1,1.0,?,3,59,18,0,276,250.01,255,9,...,No,Ch,Yes,>30,15.0,0.0,0.0,1.0,0.0,0.0
2,1.0,?,2,11,13,0,648,250,V27,6,...,No,No,Yes,NO,25.0,1.0,0.0,0.0,0.0,0.0
3,0.0,?,2,44,16,0,8,250.43,403,7,...,No,Ch,Yes,NO,35.0,0.0,0.0,1.0,0.0,0.0
4,0.0,?,1,51,8,0,197,157,250,5,...,No,Ch,Yes,NO,45.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,0.0,?,3,51,16,0,250.13,291,458,9,...,No,Ch,Yes,>30,75.0,1.0,0.0,0.0,0.0,0.0
101762,1.0,?,5,33,18,0,560,276,787,9,...,No,No,Yes,NO,85.0,1.0,0.0,0.0,0.0,0.0
101763,0.0,?,1,53,9,0,38,590,296,13,...,No,Ch,Yes,NO,75.0,0.0,0.0,1.0,0.0,0.0
101764,1.0,?,10,45,21,0,996,285,998,9,...,No,Ch,Yes,NO,85.0,0.0,0.0,1.0,0.0,0.0
101765,0.0,?,6,13,3,0,530,530,787,9,...,No,No,No,NO,75.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
df['weight']

0         ?
1         ?
2         ?
3         ?
4         ?
         ..
101761    ?
101762    ?
101763    ?
101764    ?
101765    ?
Name: weight, Length: 101766, dtype: object

In [ ]:
df['weight'].replace(['?'], '0', inplace=True)

In [ ]:
df['weight'].unique()

array(['0', '[75-100)', '[50-75)', '[0-25)', '[100-125)', '[25-50)',
       '[125-150)', '[175-200)', '[150-175)', '>200'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 44 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   gender                    101763 non-null  float64
 1   weight                    101766 non-null  object
 2   time_in_hospital          101766 non-null  int64
 3   num_lab_procedures        101766 non-null  int64
 4   num_medications           101766 non-null  int64
 5   number_emergency          101766 non-null  int64
 6   diag_1                    101766 non-null  object
 7   diag_2                    101766 non-null  object
 8   diag_3                    101766 non-null  object
 9   number_diagnoses          101766 non-null  int64
 10  max_glu_serum             5346 non-null    object
 11  A1Cresult                 17018 non-null   object
 12  metformin                 101766 non-null  object
 13  repaglinide               101766 non-null  object
 14  nateglinide               101766 non-null  object
 15  chlorpropamide            101766 non-null  object
 16  glimepiride               101766 non-null  object
 17  acetohexamide             101766 non-null  object
 18  glipizide                 101766 non-null  object
 19  glyburide                 101766 non-null  object
 20  tolbutamide               101766 non-null  object
 21  pioglitazone              101766 non-null  object
 22  rosiglitazone             101766 non-null  object
 23  acarbose                  101766 non-null  object
 24  miglitol                  101766 non-null  object
 25  troglitazone              101766 non-null  object
 26  tolazamide                101766 non-null  object
 27  examide                   101766 non-null  object
 28  citoglipton               101766 non-null  object
 29  insulin                   101766 non-null  object
 30  glyburide-metformin       101766 non-null  object
 31  glipizide-metformin       101766 non-null  object
 32  glimepiride-pioglitazone  101766 non-null  object
 33  metformin-rosiglitazone   101766 non-null  object
 34  metformin-pioglitazone    101766 non-null  object
 35  change                    101766 non-null  object
 36  diabetesMed               101766 non-null  object
 37  readmitted                101766 non-null  object
 38  mean_age                  101766 non-null  float64
 39  race_AfricanAmerican      101766 non-null  float64
 40  race_Asian                101766 non-null  float64
 41  race_Caucasian            101766 non-null  float64
 42  race_Hispanic             101766 non-null  float64
 43  race_Other                101766 non-null  float64
dtypes: float64(7), int64(5), object(32)
memory usage: 34.2+ MB

In [ ]:
df

,gender,weight,time_in_hospital,num_lab_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,number_diagnoses,...,metformin-pioglitazone,change,diabetesMed,readmitted,mean_age,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
0,1.0,0,1,41,1,0,250.83,?,?,1,...,No,No,No,NO,5.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0,3,59,18,0,276,250.01,255,9,...,No,Ch,Yes,>30,15.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0,2,11,13,0,648,250,V27,6,...,No,No,Yes,NO,25.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0,2,44,16,0,8,250.43,403,7,...,No,Ch,Yes,NO,35.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0,1,51,8,0,197,157,250,5,...,No,Ch,Yes,NO,45.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,0.0,0,3,51,16,0,250.13,291,458,9,...,No,Ch,Yes,>30,75.0,1.0,0.0,0.0,0.0,0.0
101762,1.0,0,5,33,18,0,560,276,787,9,...,No,No,Yes,NO,85.0,1.0,0.0,0.0,0.0,0.0
101763,0.0,0,1,53,9,0,38,590,296,13,...,No,Ch,Yes,NO,75.0,0.0,0.0,1.0,0.0,0.0
101764,1.0,0,10,45,21,0,996,285,998,9,...,No,Ch,Yes,NO,85.0,0.0,0.0,1.0,0.0,0.0
101765,0.0,0,6,13,3,0,530,530,787,9,...,No,No,No,NO,75.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
df.info()

NameError: name 'df' is not defined